<div class="container" id="footer-credit">
    <p>
        Created by Anthony I. Jackson.
    </p>
    <a class="link" target="_blank" rel="noopener noreferrer"
       href="https://github.com/SomeDudeNamedAnthony/Anthonys-Domain">
        Repository
    </a>
    <a class="link" target="_blank" rel="noopener noreferrer"
       href="https://nodejs.org">
        Node.js
    </a>
    <a class="link" target="_blank" rel="noopener noreferrer"
       href="https://expressjs.com">
        Express.js
    </a>
    <a class="link" target="_blank" rel="noopener noreferrer"
       href="https://ejs.co/">
        EJS
    </a>
    <a class="link" target="_blank" rel="noopener noreferrer"
       href="https://sass-lang.com">
        Sass
    </a>
</div>
