<div class="container project" id="monoscene">
    <a class='link' href="https://github.com/SomeDudeNamedAnthony/Monoscene"><h2>MonoScene</h2></a>
    <p>A scene manager with entities for Monogame.</p>
    <h3>How?</h3>
    <p>
        <i>How to use?</i><br>
        It's quite simple to use MonoScene. <br>
        Just download a release or clone the repository and add a reference to it in <br>
        your project's .csproj file.
    <pre>
        <code class="language-xml">
            ...
            &lt;ItemGroup&gt;
              &lt;ProjectReference Include="&lt;MonoScene Path&gt;\Monoscene.csproj" /&gt;
            &lt;/ItemGroup&gt;
            ...
        </code>
    </pre>
    </p>

</div>