@import 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap';

body {
    margin: 0;
    background: #a96868;
    color: #edb4a1;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 1.45rem;
    font-variation-settings: "wdth" 100;
}

body a {
    color: #2c2137;
}


@media screen and (width <= 320px) {
    body {
        font-size: 0.85rem;
    }
}