:root {
    --navbar-link-padding: 16px;
    --navbar-background-color: #2c2137;
    --navbar-link-color: #edb4a1;
    --navbar-link-hover-color: #764462;
}

#navbar {
    overflow: hidden;
    background-color: var(--navbar-background-color);
}

#navbar-links .link {
    float: left;
    display: block;
    color: var(--navbar-link-color);
    text-align: center;
    text-decoration: none;
    font-size: 1.20rem;
    padding: 14px 16px;
}

#navbar .link:hover {
    background-color: var(--navbar-link-hover-color);
}

#navbar .active {
    background-color: #a96868;
    color: var(--navbar-background-color);
}

#navbar #logo-text {
    font-size: 1.33rem;
    font-weight: bold;
    padding-left: 16px;
}